<table border="0" width="90%" cellspacing="5" cellpadding="0">
	<tr><td colspan="4" class="header">Contact</td></tr>
	<tr><td colspan="4" class="blueSpacerLine" height="1"><img src="media/images/spacer.gif" height="1" border="0" />
	</td></tr>
	<tr>
		<td colspan="4">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eAutoPacific.com<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;27600 Northwestern Highway, Suite 240<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Southfield, Michigan 48034<br /><br />
			eMail: <a href="mailto:eAutoPacific@autopacific.com">eAutoPacific@autopacific.com</a><br />Telephone: (248) 355.0033<br /><br />Facsimile:  (248) 355.1380
		</td>
	</tr>
	<tr><td colspan="4" class="blueSpacerLine" height="1"><img src="media/images/spacer.gif\" height="1" border="0" />
		</td>
		</tr>
</table>
<br /><br />
