<table border="0" width="90%" cellspacing="5" cellpadding="0">
	<tr><td colspan="4" class="header">eAutoPacific Help</td></tr>
	<tr><td colspan="4" class="blueSpacerLine" height="1"><img src="/media/images/spacer.gif" height="1" border="0" /></td></tr>
	<tr><td colspan="4">The eAutoPacific Subscription Website Help Desk can be contacted by telephone during normal business hours of 9:15 am to 5:00 pm Eastern time Monday through Friday, at (248) 355-0052.</td></tr>
	<tr><td colspan="4" class="blueSpacerLine" height="1"><img src="/media/images/spacer.gif" height="1" border="0" /></td></tr>
	<tr><td colspan="4"><b>Browser Requirements:</b><br /><br />
						Internet Explorer:
						<ul>
							<li>Macintosh - Version 5.1 or higher
							<li>Windows - Version 5.5 or higher
						</ul>
						Microsoft keeps minimum requirement documents limited to the "read me" file that ships with IE - the Web and specific hardware configurations change constantly, so Microsoft feels that specifics will be outdated too often. What information is available can be found at the following URL: <a href="http://support.microsoft.com/default.aspx?scid=kb;en-us;Q293513">http://support.microsoft.com/default.aspx?scid=kb;en-us;Q293513</a>
						<br /><br />
						<b>NOTE:</b> It is possible that application will operate in some capacity with other versions of Internet Explorer or other browsers. However, only the versions above are "certified" for complete operation.
						<br /><br />
						Netscape Navigator:
						<ul>
						<li>Macintosh - Version 6 or higher
						<li>Windows - Version 7 or higher
						</ul>
						<br /><br />
						Netscape does publish minimum requirements for their browser. The specific browsers above are based on hardware and system software requirements listed herein. For additional information on Netscape browsers, visit: <a href="http://channels.netscape.com/ns/browsers/default.jsp">http://channels.netscape.com/ns/browsers/default.jsp</a>
						<br /><br />
						America Online Browser:
						<ul>
						<li>Macintosh - Version 6 or higher
						<li>Windows - Version 7 or higher
						</ul>
						<br /><br />
						The AOL Browser is included with AOL when you install it on your PC. For information on plug-ins for AOL Browsers, visit: <a href="http://www.aol.com/webcenters/computing/multimedia.adp">http://www.aol.com/webcenters/computing/multimedia.adp</a>
						<br /><br />
	<tr><td colspan="4" class="blueSpacerLine" height="1"><img src="/media/images/spacer.gif" height="1" border="0" /></td></tr>
	<tr><td colspan="4"><b>System Requirements:</b><br /><br />
						There are a wide variety of hardware and software configurations in the marketplace. The minimum requirements as set forth herein are based on achieving the broadest possible range of compatibility:
						<br /><br />
						Macintosh:
						<ul>
						<li>Mac OS 8.6, 9.x (9.1 and later recommended)
						<li>Mac OS X (10.1.x recommended)
						<li>G3, G4 or faster processor
						<li>128MB of RAM
						<li>100 MB hard drive
						</ul>
						<br /><br />
						NOTE: You may run into a published document that indicates a browser or OS may require less RAM that is noted above. It may be possible to run a browser on the Mac with less memory than specified. However, it is unlikely that consistent performance will be possible with less than 128MB of RAM. As an example, Mac OS 10.2 requires 128MB of RAM to run. 
						<br /><br />
						Windows PC:
						<br /><br />
						<ul>
						<li>Windows, NT, 2000, XP
						<li>Pentium II 400Mhz or faster processor
						<li>80MB hard drive
						</ul><br /><br />
						NOTE: Minimum requirements for Windows-based PC systems will vary depending on the compliment of hardware, software and applications in use. Be aware that Netscape Navigator version 7 will also run under the Windows configuration listed herein while running under RedHat Linux, version 6.2,7.0, 7.1, 7.2 or higher.
						<br /><br />
	<tr><td colspan="4" class="blueSpacerLine" height="1"><img src="/media/images/spacer.gif" height="1" border="0" /></td></tr>
	<tr><td colspan="4"><b>Connection:</b><br /><br/ >		
						The application can run using a dial-up modem, DSL, cable, or T-1 connection. 
						<ul>
						<li>Macintosh - 56Kbps or faster
						<li>Windows - 56Kbps or faster
						</ul>
						<br /><br />
						NOTE: If a user is trying to connect using a dial-up modem, please check to ensure that they are connecting at an appropriate speed. Most dial-up farms will redirect an incoming connection to a slower modem if there is too much traffic to manage the higher bandwidth. The application will run, but very slowly on connections slower than 44.1Kbps. 
						<br /><br />

						  </td></tr>
	<tr><td colspan="4" class="blueSpacerLine" height="1"><img src="/media/images/spacer.gif" height="1" border="0" /></td></tr>
</table>
<br /><br />
