<?php
defined('_VALID_PAGE') or die('Direct access not allowed');

?>
<br /><br />
<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td>&nbsp;</td>
		<td width="93" height="24" align="center">
			<a href="index.php?comp=vehicle"><img src="media/images/vehicleListLick.jpg" width="89" height="24" border="0" /></a>
		</td>
		<td width="89" height="24" align="center">
			<a href="index.php?comp=category"><img src="media/images/categoriesLick.jpg" width="85" height="24"  border="0" /></a>
		</td>
		<td width="94" height="24" align="center">
			<a href="index.php?comp=user"><img src="media/images/subscribersLick.jpg" width="90" height="24"  border="0" /></a>
		</td>
		<td>&nbsp;</td>
	</tr>
</table>
<br /><br /><br />
